<div class="filterMain">
    <h5 style="margin-left: 5px;"><b>Filters</b></h5>

    <p class="filterHeader">&nbsp;&nbsp;&nbsp;Launch Year&nbsp;&nbsp;&nbsp;</p>
    <div style="display: flex;flex-wrap: wrap;">
        <div class="yearValueFont" style="text-align: center;" *ngFor="let yearValue of yearValues;let i = index">
            <input type="radio" id="yearValue+{{i}}" name="year" (click)="getSelectedYear(yearValue)"/>
            <label for="yearValue+{{i}}" class="filterTextVal">{{yearValue}}</label>
        </div>
    </div>
    
    <p class="filterHeader">&nbsp;&nbsp;&nbsp;Successful Launch&nbsp;&nbsp;&nbsp;</p>
    <div style="display: flex;flex-wrap: wrap;">
        <div class="yearValueFont" style="text-align: center;">
            <input type="radio" id="trueLaunch" name="launchType" (click)="getLaunchType(true)"/>
            <label for="trueLaunch" class="filterTextVal">True</label>
        </div>

        <div class="yearValueFont" style="text-align: center;">
            <input type="radio" id="falseLaunch" name="launchType" (click)="getLaunchType(false)"/>
            <label for="falseLaunch" class="filterTextVal">False</label>
        </div>
    </div>

    <p class="filterHeader">&nbsp;&nbsp;&nbsp;Successful Landing&nbsp;&nbsp;&nbsp;</p>
    <div style="display: flex;flex-wrap: wrap;">
        <div class="yearValueFont" style="text-align: center;">
            <input type="radio" id="trueLanding" name="landingType" (click)="getLandingType(true)"/>
            <label for="trueLanding" class="filterTextVal">True</label>
        </div>

        <div class="yearValueFont" style="text-align: center;">
            <input type="radio" id="falseLanding" name="landingType" (click)="getLandingType(false)"/>
            <label for="falseLanding" class="filterTextVal">False</label>
        </div>
    </div>
</div>

