<div class="container-fluid" style="max-width: 1440px;background-color: whitesmoke;">
  <h3 style="padding: 5px;font-weight: bold;">SpaceX Launch programs</h3>
  <div class="row" style="margin: 5px;">
    <div class="filter">
      <app-filter-search (filteredData)="getDataWithFilters($event)"></app-filter-search>
    </div>
    <div class="viewData">
      <app-view-data (showOrHideSpinner)="showOrHideSpinnerFunc($event)" [searchFilteredData]="filterDataToComponent"></app-view-data>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>